  <div id="slide-collection">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection">
          <div class="hsContainer">
            <div class="hsContent center">
            </div>
          </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="ui grid">

    <div class="twelve wide column centered">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="testimonials">
      <div class="tile notification is-info">
       <p>just relieved the pain in my finger joints.  When I moved my fingers, I typically had joint pain. After taking BrocElite for about two days, my finger pain was gone.</p>
       <p>
        -Missy Martin, September, 2018<br />
        Virginia
       </p>
      </div>
      <div class="tile notification is-info">
        <p>I love it and have told my friends about.  I feel more alert and have more of a zip in my step.  I feel better in the morning when I get up and feel like I have more energy.  I just feel better all around.  It’s been a noticeable change.</p>
        <p>
          -Will Richey,  September, 2018<br />
          Virginia
        </p>
      </div>
      <div class="tile notification is-info">
        <p>I’m an 80 year old bemoaning stiff joints.  I began taking BrocElite and within days I’m walking normally and climbing stairs like I’m a 40 year old.  I am in love with this product and I take two in the morning and two in the evening.  I will use it for the rest of my life!</p>
        <p>
          -Madeline Trotman, September 2018 <br />
          Virginia
        </p>
      </div>
      <div class="tile notification is-info">
        <p>I’ve always taken sleep for granted, but my wife, who stirs easily, does not. In our early marriage, I slept quietly and never disturbed her. At some point in my late 30s, however, I started to snore. It got bad enough that sometimes the sound of it would wake her out of a deep sleep. I tried a number of anti-snoring remedies, but nothing helped. Then a friend gave me BrocElite. I started taking it, knowing it would reduce inflammation but never expecting that it would impact my snoring. Much to my surprise, it did! I haven’t snored since. My wife was so delighted to get uninterrupted sleep again that she told me I had to write to the company and thank them. This is the only testimonial I’ve ever written for a product. If you have trouble with snoring, give BrocElite a try. It just might restore your sleep.</p>
        <p>
          Corban K, Sept 2018 <br/>
          Virginia
        </p>
      </div>
      <div class="tile notification is-info">
        <p>Hip pain - going on and off brocelite</p>
        <p>
          Mitch Martin <br />
          Virginia
        </p>
      </div>
      <div class="tile notification is-info">
        <p>dreaming/ rest and knew pain</p>
        <p>
          David Perez <br/>
          Virginia
        </p>
      </div>
      <div class="tile notification is-info">
        <p>After a few days already felt a difference.</p>
        <p>
          Michael M
        </p>
      </div>
    </div>
  </div>
</div>

  <div>
    {{ page.content }}
  </div>

<div>
<div class="powr-form-builder" id="1c7ecea8_1566586716"></div>
</div>

</div>

<script src="https://www.powr.io/powr.js?platform=shopify"></script>

<script>
  $('.testimonials').slick({
    autoplay: true,
    autoplaySpeed: 4000,
    adaptiveHeight: true,
    pauseOnFocus: false
  });
</script>
